     .a{
	           background:violet;
	           text-align:center;
	       }
	       .b{
	           text-align:center;
	           background:white;
	           color:black;
	       }
	       a{
	       	color:white;
	       }
	       .c{
	        background:white;
	       }